
<p>{{professional | json}}</p>

<div *ngFor="let professional of professional">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>
        {{ professional.Nombres }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ professional.Apellidos }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <strong>{{ 'general_component.document' | translate }}: </strong>
        <span>{{ professional.TipoDocumento }} {{ professional.Documento }} </span>
      </div>
  
      <div>
        <strong>{{ 'general_component.birthdate' | translate }}: </strong>
        <span>{{ professional.FechaNacimiento }}</span>
      </div>
  
      <div>
        <strong>{{ 'general_component.email' | translate }}: </strong>
        <span>{{ professional.Correo }}</span>
      </div>

      <div>
        <strong>{{ 'general_component.phone' | translate }}: </strong>
        <span>{{ professional.Telefono }}</span>
      </div>
  
      <div *ngIf="professional.linkedInfo">
        <h4>Referencia</h4>
    
        <div>
          <strong>{{ 'linked_info_component.first_name' | translate }}: </strong>
          <span>{{ professional.linkedInfo.Nombres }}</span>
        </div>
    
        <div>
          <strong>{{ 'linked_info_component.last_name' | translate }}: </strong>
          <span>{{ professional.linkedInfo.Apellidos }}</span>
        </div>
    
        <div>
          <strong>{{ 'linked_info_component.relationship_type' | translate }}: </strong>
          <span>{{ professional.linkedInfo.relationShipType }}</span>
        </div>
    
        <div>
          <strong>{{ 'linked_info_component.email' | translate }}: </strong>
          <span>{{ professional.linkedInfo.Correo }}</span>
        </div>

        <div>
          <strong>{{ 'linked_info_component.phone' | translate }}: </strong>
          <span>{{ professional.linkedInfo.Telefono }}</span>
        </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngFor="let patient of patient">
    <mat-card class="example-card">
  
      <mat-card-header>
        <mat-card-title>
          {{ patient.Nombres }}
        </mat-card-title>
  
        <mat-card-subtitle>
          {{ patient.Apellidos }}
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <div>
          <strong>{{ 'general_component.document' | translate }}: </strong>
          <span>{{ patient.documentType }} {{ patient.document }} </span>
        </div>
    
        <div>
          <strong>{{ 'general_component.birthdate' | translate }}: </strong>
          <span>{{ patient.FechaNacimiento }}</span>
        </div>
    
        <div>
          <strong>{{ 'general_component.email' | translate }}: </strong>
          <span>{{ patient.Correo }}</span>
        </div>
  
        <div>
          <strong>{{ 'general_component.phone' | translate }}: </strong>
          <span>{{ patient.Telefono }}</span>
        </div>

        <div>
          <strong>{{ 'general_component.phone' | translate }}: </strong>
          <span>{{ patient.AntecedentesPersonales }}</span>
        </div>

        <div>
          <strong>{{ 'general_component.phone' | translate }}: </strong>
          <span>{{ patient.AntecedentesFamiliares }}</span>
        </div>

        <div>
          <strong>{{ 'general_component.phone' | translate }}: </strong>
          <span>{{ patient.EPS }}</span>
        </div>

        <div *ngIf="patient.linkedInfo">
          <h4>Acompañante</h4>
      
          <div>
            <strong>{{ 'linked_info_component.first_name' | translate }}: </strong>
            <span>{{ patient.linkedInfo.Nombres }}</span>
          </div>
      
          <div>
            <strong>{{ 'linked_info_component.last_name' | translate }}: </strong>
            <span>{{ patient.linkedInfo.Apellidos }}</span>
          </div>
      
          <div>
            <strong>{{ 'linked_info_component.relationship_type' | translate }}: </strong>
            <span>{{ patient.linkedInfo.relationShipType }}</span>
          </div>
      
          <div>
            <strong>{{ 'linked_info_component.email' | translate }}: </strong>
            <span>{{ patient.linkedInfo.Correo }}</span>
          </div>
    
          <div>
            <strong>{{ 'linked_info_component.phone' | translate }}: </strong>
            <span>{{ patient.linkedInfo.Telefono }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
  