<div class="container">
  <form [formGroup]="form">

    <div class="center">
      <h1>{{ title }}</h1>
    </div>

    <div class="center">
      <mat-form-field class="field" class="field">
        <mat-select placeholder="{{ 'general_component.document_type' | translate }}"
          formControlName="TipoDocumento"
          id="TipoDocumento"
          required>
          <mat-option *ngFor="let types of documentTypes" 
            [value]="types.id">
            {{types.type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="TipoDocumento.invalid && TipoDocumento.errors.required">
            {{ 'errors.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field class="field">
        <input matInput 
          placeholder="{{ 'general_component.document' | translate }}"
          formControlName="Documento"
          id="Documento"
          required>
          <mat-error *ngIf="Documento.invalid && Documento.errors.required">
            {{ 'errors.required' | translate }}
          </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field class="field">
        <input matInput 
          placeholder="{{ 'general_component.first_name' | translate }}"
          formControlName="Nombres"
          id="Nombres"
          required>
          <mat-error *ngIf="Nombres.invalid && Nombres.errors.maxLength">
            {{ 'errors.max_length_error' | translate }}
          </mat-error>
          <mat-error *ngIf="Nombres.invalid && Nombres.errors.required">
            {{ 'errors.required' | translate }}
          </mat-error>
      </mat-form-field>
    </div> 

    <div class="center">
      <mat-form-field class="field">
        <input matInput 
          placeholder="{{ 'general_component.last_name' | translate }}"
          formControlName="Apellidos"
          id="Apellidos"
          required>
          <mat-error *ngIf="Apellidos.invalid && Apellidos.errors.maxLength">
            {{ 'errors.max_length_error' | translate }}
          </mat-error>
          <mat-error *ngIf="Apellidos.invalid && Apellidos.errors.required">
            {{ 'errors.required' | translate }}
          </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field class="field">
        <input matInput
          [max]="maxDate" 
          [matDatepicker]="picker" 
          placeholder="{{ 'general_component.birthdate' | translate }}"
          formControlName="FechaNacimiento"
          id="FechaNacimiento"
          required>
          <mat-error *ngIf="FechaNacimiento.invalid && FechaNacimiento.errors.required">
            {{ 'errors.required' | translate }}
          </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field class="field">
        <input matInput 
          placeholder="{{ 'general_component.email' | translate }}" 
          formControlName="Correo"
          id="Correo">
          <mat-error *ngIf="Correo.invalid && Correo.errors.pattern">
            {{ 'errors.email_error' | translate }}
          </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-checkbox #phone class="field"
        (click)="setPhone(phone)">
        {{ 'general_component.dissable_phone' | translate }}
      </mat-checkbox>
    </div>
    
    <div class="center">
      <mat-form-field class="field">
        <input matInput 
          placeholder="{{ 'general_component.phone' | translate }}"
          formControlName="Telefono"
          id="Telefono"
          required>
          <mat-error *ngIf="form.get('Telefono').invalid && 
            hasError('Telefono', 'required')">
            {{ 'errors.required' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('Telefono').invalid && 
            hasError('Telefono', 'minlength')">
            {{ 'errors.min_length_error_phone' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('Telefono').invalid && 
            hasError('Telefono', 'maxlength')">
            {{ 'errors.max_length_error_phone' | translate }}
          </mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="patientDataVisible">
      <div class="center">
        <mat-form-field class="field">
          <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            placeholder="{{ 'general_component.personal_history' | translate }}"
            formControlName="AntecedentesPersonales"
            id="AntecedentesPersonales"
            required>
            <mat-error *ngIf="AntecedentesPersonales.invalid && AntecedentesPersonales.errors.required">
              {{ 'errors.required' | translate }}
            </mat-error>
          </textarea>
        </mat-form-field>
      </div>

      <div class="center">
        <mat-form-field class="field">
          <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            placeholder="{{ 'general_component.family_history' | translate }}"
            maxlength="200"
            formControlName="AntecedentesFamiliares"
            id="AntecedentesFamiliares"></textarea>
        </mat-form-field>
      </div>

      <div class="center">
        <mat-form-field class="field" class="field">
          <mat-select placeholder="{{ 'general_component.eps' | translate }}"
            formControlName="EPS"
            id="EPS">
            <mat-option *ngFor="let eps of epsEntity" 
              [value]="eps.id">
              {{eps.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="center">
      <mat-checkbox #formLinkedInfo
      (change)="showLinkedInfoForm(formLinkedInfo)">
        {{ linkedInfoLabel }}
      </mat-checkbox>
    </div>

  </form>

  <div>
    <app-linked-info 
      [linkedFormVisible]="linkedFormVisible"
      (linkedFormValue)="linkedFormValue($event)"
      (isLinkedFormValid)="isLinkedFormValid($event)">
    </app-linked-info>
  </div>

  <div class="center buttons">
    <button mat-raised-button 
      class="accept-button" 
      color="primary"
      (click)="saveData()"
      [disabled]="!form.valid && !linkedFormValid"
      >
      {{ 'save' | translate }}
    </button>
    <button mat-raised-button 
      class="cancel-button" 
      color="primary">
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>


